<%= form_with model: @category, local: true do |f| %>
    
<h1> New category</h1>

<%= render "form", category: @category %>

<br>

<div>
    <%= link_to "Back to categories", categories_path %>
</div>